<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>126096465796-j8u2rln4bg120cssev13v90etn6d5e7r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.126096465796-j8u2rln4bg120cssev13v90etn6d5e7r</string>
	<key>API_KEY</key>
	<string>AIzaSyD4mRJRuxYorCLNfVkn2D87ZsDHEQ5osfI</string>
	<key>GCM_SENDER_ID</key>
	<string>126096465796</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wrestlefeed.news</string>
	<key>PROJECT_ID</key>
	<string>wrestlefeed-app</string>
	<key>STORAGE_BUCKET</key>
	<string>wrestlefeed-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:126096465796:ios:fcb1e46b99f8ca6c</string>
	<key>DATABASE_URL</key>
	<string>https://wrestlefeed-app.firebaseio.com</string>
</dict>
</plist>